/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.l-footer {
  padding-top: 40px;
  padding-bottom: 30px;
}

.l-header {
  width: 100%;
  margin: 0 auto;
  padding: 15px 15px 40px 15px;
}

@media screen and (min-width: 1201px) {
  .l-header {
    padding-top: 40px;
    padding-left: 65px;
  }
}

.l-content {
  padding: 5vw;
}

.l-sidebar {
  margin-left: 10%;
}

@media screen and (min-width: 834px) {
  .l-sidebar {
    margin-left: 54%;
  }
}

@media screen and (min-width: 1201px) {
  .l-sidebar {
    margin: unset;
  }
}

.c-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#DED8D3));
  background: linear-gradient(#F2EDE9, #DED8D3);
  border-radius: 10px;
  border: 1px solid #707070;
  height: 46px;
  min-width: 76px;
  color: #707070;
  cursor: pointer;
}

@media screen and (min-width: 834px) {
  .c-button {
    width: 136px;
  }
}

.c-button--menu {
  font-weight: bold;
  height: 30px;
  width: 30px;
  background-color: transparent;
  background: initial;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media screen and (min-width: 1201px) {
  .c-button--menu {
    display: none;
  }
}

.c-button-close {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  float: right;
}

@media screen and (min-width: 1201px) {
  .c-button-close {
    display: none;
  }
}

.c-button-close span {
  position: absolute;
  background-color: #707070;
  height: 2px;
  width: 50%;
  display: inline-block;
  left: calc(-50%/2 + 50px/2);
}

.c-button-close span:nth-of-type(1) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-button-close span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-definition {
  color: #3C2A10;
}

.c-definition__title {
  padding-bottom: 20px;
  font-weight: bold;
}

.c-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-flex--header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vw;
}

@media screen and (min-width: 1201px) {
  .c-flex--header {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-flex--content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vw;
}

@media screen and (min-width: 834px) {
  .c-flex--content {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-flex--menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-flex--definition {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.c-icon {
  background-image: url(../image/serch-icon.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 50px;
}

.c-input {
  border-radius: 10px;
  border: 1px solid #707070;
  height: 46px;
  max-width: 396px;
  width: 70%;
}

.c-text {
  color: #FFF;
  line-height: 33px;
  width: 100%;
}

.c-text--brown {
  color: #3C2A10;
}

.c-title {
  color: #FFF;
}

.c-title--header {
  color: #707070;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.c-title--caption {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.c-title--menu {
  color: #707070;
  font-family: 'Roboto', sans-serif;
  font-size: 2.125rem;
}

.c-title--underline {
  position: relative;
}

.c-title--underline::after {
  content: "";
  display: inline-block;
  border-top: 4px solid #FFF;
  width: 10%;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.c-background {
  background-color: #000;
  opacity: 0.5;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  visibility: hidden;
}

.c-background.is-open {
  visibility: visible;
  width: 100%;
}

.c-menu {
  padding-top: 38px;
  padding-left: 50px;
}

.c-menu li {
  padding-left: 20px;
  color: #3C2A10;
  list-style: none;
}

.c-menu li:not(:first-child) {
  padding-top: 23px;
}

.c-menu li:first-child {
  padding-top: 38px;
}

.c-link {
  text-decoration: none;
}

.c-link--white {
  color: #FFF;
}

.c-link--gray {
  color: #707070;
}

@media screen and (min-width: 1201px) {
  .c-grid {
    display: -ms-grid;
    display: grid;
    grid-template: "header aside" 217px "main aside" 1fr "footer footer" 150px / 1fr  20%;
  }
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.p-content__upper {
  background-image: url(../image/takeout.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.p-content__lower {
  background-image: url(../image/eatin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.p-content__title {
  font-size: 2.25rem;
}

@media screen and (min-width: 834px) {
  .p-content__title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 1201px) {
  .p-content__title {
    font-size: 4rem;
  }
}

.p-definitions {
  padding-top: 50vw;
}

.p-definition {
  padding: 20px 10px 45px 10px;
  background: rgba(255, 255, 255, 0.8);
}

.p-footer {
  background-image: url(../image/fotter.png);
  background-repeat: repeat;
  height: 150px;
  width: 100%;
}

.p-footer__menu, .p-footer__copyright {
  text-align: center;
  display: block;
  color: #fff;
}

.p-footer__menu__item {
  position: relative;
  padding: 5px;
}

.p-footer__menu__item:nth-child(odd)::after {
  content: "|";
  display: inline-block;
  position: absolute;
  left: 100%;
}

.p-footer__copyright {
  padding-top: 34px;
}

.p-header {
  background-color: #FFF7EF;
}

@media screen and (min-width: 1201px) {
  .p-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-header__menu {
  font-size: 1rem;
}

.p-header__title {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2.25rem;
}

@media screen and (min-width: 834px) {
  .p-header__title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 1201px) {
  .p-header__title {
    font-size: 4rem;
  }
}

.p-header__serch {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1201px) {
  .p-header__serch {
    text-align: right;
  }
}

.p-hero {
  background-image: url(../image/hero-sp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 285px;
  line-height: 285px;
  padding-left: 5%;
}

@media screen and (min-width: 1201px) {
  .p-hero {
    height: 530px;
    line-height: 530px;
    background-image: url(../image/hero-pc.png);
  }
}

.p-hero__title {
  font-size: 2.25rem;
}

@media screen and (min-width: 834px) {
  .p-hero__title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 1201px) {
  .p-hero__title {
    font-size: 2.5rem;
  }
}

.p-map {
  width: 100%;
}

.p-map__textlayer {
  position: relative;
  padding: 40px;
  width: 100%;
}

@media screen and (min-width: 1201px) {
  .p-map__textlayer {
    padding-right: 45%;
  }
}

.p-map__bottom {
  position: absolute;
  background: #000;
  width: 100%;
  z-index: -1;
  height: 100%;
  top: 0;
  left: 0;
}

.p-map__middle {
  position: absolute;
  top: 0;
  background-image: url(../image/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
}

.p-map__top {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 50%;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

@media screen and (min-width: 834px) {
  .p-map__top {
    height: 100%;
  }
}

@media screen and (min-width: 1201px) {
  .p-map__top {
    width: 60%;
  }
}

.p-map__title {
  font-size: 1.875rem;
}

@media screen and (min-width: 834px) {
  .p-map__title {
    font-size: 1.875rem;
  }
}

@media screen and (min-width: 1201px) {
  .p-map__title {
    font-size: 2.125rem;
  }
}

.p-sidebar {
  position: absolute;
  top: 0;
  left: 100%;
  visibility: hidden;
  z-index: 999;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  overflow: hidden;
  width: 0;
  height: 100%;
  background-color: #F2EDE9;
}

@media screen and (min-width: 1201px) {
  .p-sidebar {
    visibility: visible;
    position: unset;
    width: unset;
    -webkit-transition: unset;
    transition: unset;
  }
}

.p-sidebar.is-open {
  visibility: visible;
  left: 0;
  width: 90%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  overflow-y: auto;
}

@media screen and (min-width: 834px) {
  .p-sidebar.is-open {
    width: 46%;
  }
}

@media screen and (min-width: 1201px) {
  .p-sidebar.is-open {
    width: 100%;
  }
}

.p-sidebar__menu-list {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (min-width: 1201px) {
  .p-sidebar__menu-list {
    margin: unset;
  }
}

.p-sidebar__menu-title {
  display: none;
}

@media screen and (min-width: 1201px) {
  .p-sidebar__menu-title {
    display: block;
    padding-left: 50px;
  }
}

.is-fixed {
  position: fixed;
}

.u-margintop {
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */