.p-content{



    &__upper{
        background-image: url(../image/takeout.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:100%;
        



    }
    &__lower{
        background-image: url(../image/eatin.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:100%;
    }
    &__title{
        font-size:$font-size-article-title-sp;
        @include mq-up(tab){
            font-size:$font-size-article-title-tab;
        }
        @include mq-up(pc){
            font-size:$font-size-article-title-pc;
        }
        
        
    }
}
.p-definitions{
    padding-top: 50vw;


}