.p-header{
    background-color: #FFF7EF;
    
    &__menu{
        font-size: $font-size-text;
    }

    &__title{
        margin: 0 auto;
        text-align: center;
        font-size:40px;
        
    }

}
.p-header__serch{
    margin: 0 auto;
    text-align: center;
    width:100%;//temp
}